* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(images/fondoTrama.jpg);
  font-family: 'Lato', sans-serif;

}
  
  #pokeHeader {
    display: flex;
    justify-content: center;
    width: 1330px;
    height: 110px;
    padding: 10px 16px;
    background: linear-gradient(90deg, rgba(72, 255, 231, 0.609) 0%, rgba(83, 223, 158, 0.719) 100%);
    mix-blend-mode: normal;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }

  .pokeHomeStyle {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 125px;
    height: 47px;
    left: 0px;
    top: 274px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background: #FFCC03;
  }

  .pokeTypesStyle {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 125px;
    height: 47px;
    left: 0px;
    top: 274px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background: #FFCC03;
  }

  .pokeWeakStyle {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 125px;
    height: 47px;
    left: 0px;
    top: 274px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background: #FFCC03;
  }

  .pokeAboutStyle {
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 125px;
    height: 47px;
    left: 0px;
    top: 274px;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    background: #FFCC03;
  }

  .pokeSearchStyle {
    display: flex;
    float: right;
    padding: 6px;
    background: #FFFFFF;
    border: 2px solid #FFCC03;
    border-radius: 60px;
    margin-right: 16px;
    font-size: 18px;
  }


  #upperBar {
    display: flex;
    justify-content: center;

  }

  #pokemonImageUp {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-left: 230px;
  }

  .pokeImageFirstStyle {
    border-style: solid;
    border-color: rgba(72, 255, 231, 0.609)

  }

  .pokeElegir {     
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  width: 906px;
  height: 47px;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(90deg, rgba(72, 255, 231, 0.609) 0%, rgba(83, 223, 158, 0.719) 100%);

}

#homePage {
  display: block;
}

#secondPage {
  display: none;
}

#contentOfCards {
  display:flex;
  flex-wrap: wrap; 
  margin:20px;
  margin-top: 40px;
}

.pokeCardsStyle {
  width: 180px;
  height: 180px;
 
  background: #FFFFFF;
  border: 2px solid #F49321;
  border-radius: 30px;
  margin: 10px; 
}

.pokeCardsStyle:hover {
  background: rgb(243, 200, 151);
  
  transition: .5s;
  -ms-transform: scale(1.06); /* IE 9 */
  -webkit-transform: scale(1.06); /* Safari 3-8 */
  transform: scale(1.06); 
}

.pokeCardsPic { 
  width: 100px;
  height: 100px; 
}

.pokeCardsName {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
 
  color: #F49321;
}

.pokeCardsLine {
  width: 140px;
  margin: 3px;
  margin-left: 17px;
  background: #F49321;
  border: 1px solid #F49321;
}

 .pokeCardsNum {
  font-family: Lato;
  font-style: normal;
  font-weight: 800;
  font-size: 11px;
  line-height: 13px;

  color: #F49321;
} 




  /*div: borde, alto, ancho
